# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.generated/

# Android
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/key.properties
**/android/local.properties

# iOS
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/Runner.xcworkspace
**/ios/Runner/GeneratedPluginRegistrant.*

# IDEs
.idea/
.vscode/
*.iml

# System
.DS_Store
*.log

# Misc
*.lock
*.keystore
